body{
    background-color: #0D1117;
    
}
input{
    display: block;
    border-radius: 6px;
    margin-bottom: 7px;
    background-color: black;
    border: 0;
    width: 100%;
    color: white;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form{
    background-color: #161B22;
    padding: 30px 60px;
    border-radius: 7px;
    box-shadow: rgb(40, 50, 70) 0px 20px 30px -10px;
}
form h4{
    text-align: center;
    color: white;
}
form span{
    color: #0D1F95;
    text-align: center;
    margin-left: 20px;
    cursor: pointer;
}
.btn-submit{
    margin-top: 16px;
    display: block;  
    width: 100%;
    background-color: #238636;
    border: 0;
}
.btn-submit:hover{
    background-color: white;
    color: black;
}
label{
    color: white;
    margin: 5px;
}
.pswError{
    border:1px solid red;
}
.pswError::after{
    content: 'email not valide';
    top: 5px;
    color: white;

}
.pswcor{
    border: 1px solid green;
}